body, 
html {
  max-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.content {
  color: #055358;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1, 
h2, 
h3, 
h4 {
  text-transform: uppercase;
  margin: 0;
}

header, 
footer, 
section, 
article, 
div {
  box-sizing: border-box;
}

/*
 *
 * Responsive
 *
 */

@media screen and (max-width: 360px) {
  .logo-image {
    margin: auto;
    display: table-cell;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
  }
  #header-name {
    font-size: 33px;
    margin-top: 10px;
    text-align: center;
  }
  #subheader-text {
    text-align: center;
    margin-top: 10px;
  }
  .front-image {
    max-height: 300px;
  }
  .image-1, .image-2, .image-3 {
    max-height: 200px;
  }
  #bottom {
    font-size: 12px;
    margin-left: 15px;
    padding-top: 0.5em;
  }
  .linkedin-icon {
    margin-right: 15px;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
.front-image {
    max-height: 400px;
  }
  .image-1, .image-2, .image-3 {
    max-height: 200px;
  }
  #header-text {
    padding-top: 1em;
  }
  #header-name {
    font-size: 2em;
  }
}
/*
 *
 * Header
 *
 */

 #header-row-element {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-image {
  width: 270px;
  margin-top: 0.5em;
}

#header-text {
  text-align: right;
  text-transform: uppercase;
  line-height: 0.3;
}

/*
 *
 * Main
 *
 */

 /*
 *
 * Content
 *
 */

#main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

 /*
 *
 * Front picture
 *
 */

.front-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.row-full {
width: 99.225vw;
position: relative;
margin-left: -49.59vw;
left: 50%;
}
/*
 *
 * Featured work
 *
 */
 .col-md img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

#featured-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-1, 
.image-2, 
.image-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

 /*
 *
 * Footer
 *
 */
footer {
  background-color: #055358;
  padding: 10px 10px;
  bottom:0;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

#bottom {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
}

.fb-icon, 
.linkedin-icon {
  float: right;
  width: 20px;
  padding: 1px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}